<!DOCTYPE html>

<html>
<head>
    <base href="https://www.playtolearn.in/Assessment/">
    <meta name="viewport" content="width=device-width" />
	 <script src="~/Bootstrap/jquery.min.js"></script>
    <link href="~/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" style="height:100%;">
        <div class="container-fluid">
            <nav>
                <div class="logo">
                   <img src="@Session["logo"]" height="70" width="200" />
                </div>
                <div class="hamburger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="@Url.Action("Index", "AssessmentList")">Assessment</a></li>
                    <li><a href="@Url.Action("Index", "DashBoard")">DashBoard</a></li>
                     @*<li><a href="@Url.Action("Index", "Leaderboard")">LeaderBoard</a></li>*@
					<li><a href="https://www.playtolearn.in/WordSearchApplication/?UID=@Session["uid"]&OID=@Session["orgid"]">Game</a></li>
                    <li><a href="@Url.Action("Login", "Login")">Logout</a></li>
                </ul>
            </nav>
            
        </div>
        <br />
        <br />
        <div class="container" style="margin-top: 20px; padding: 20px;">
            <br />
            <br />
            @RenderBody()
        </div>
        <footer style="position: fixed; /* left: 0; */ bottom: 0; text-align: center; margin-bottom: 0px; /* right: 0px; */ width: 100%;">
            <p class="cp-text">
                © The Gamification Company.
            </p>
        </footer>
    </div>
    <script src="~/Javascript/JSFile.js"></script>
    
</body>
</html>