@model IEnumerable<Assessment.Model.AssessmentModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="div">

    <div class="timers" id="timer" style="display:none">
        00:00
    </div>

  
    @foreach (var item in Model)
    {
        Session["TotalQuestion"] = Model.Count();
        Session["Time"] = item.Timer.ToString();
        var ansList = item.optionList.Where(x => x.Id_Assessment_question == item.Id_Assessment_question);
        <div class="col mydivs" id="@item.Id_Assessment_question" style="background-color:rgb(255 255 255 / 0.53); width:100%; margin-left: auto; margin-right: auto; border-radius: 16px; ">
            <span id="qcount" style="margin-Top:10px;margin-right:10px;"></span>


            <div class="main" style="display: block;margin-left:20px;">
                <br />

                @if (item.Assessment_Type == 1 || item.Assessment_Type == 2 || item.Assessment_Type == 3)
                {

                    <div class="row">
                        <div class="col-3 col-s-3 ">
                        </div>
                        <div class="col-6 col-s-9">
                            @if (item.Assessment_Type == 1)
                            {
                                <img src="@item.assessment_question_url" width="460" height="345">
                            }
                            @if (item.Assessment_Type == 2)
                            {
                                <audio style=" width: 100%; margin-left: auto; margin-right: auto; height: 57px;" controls>
                                    <source src=" @item.assessment_question_url" type="audio/mp3">
                                </audio>
                            }
                            @if (item.Assessment_Type == 3)
                            {
                                <video style=" width: 100%;" controls>
                                    <source src="@item.assessment_question_url" type="video/mp4">
                                </video>
                            }

                        </div>
                        <div class="col-3 col-s-12">
                        </div>
                    </div>
                    <br />
                }


                <span id=""></span>
                <p style="font-size:20px;font-weight:bolder;color:black;">
                    <strong style="color:darkred">Question:</strong>

                    @item.Assessment_Question
                </p>
                <br />

                <div class="container" style="margin-top: 1px;">
                    <div class="col" style="margin-left: auto; margin-right: auto;border-radius: 16px; text-align: inherit; font-size: large; font-weight: 400; ">
                        @foreach (var option in ansList)
                        {
                           
                            <input type="radio" id="rbtn_@option.Id_Assessment_question_ans" style="height: 14px; width: 19px;" name="rbtn_@item.Id_Assessment_question" value="Ans_@option.Id_Assessment_question_ans" onclick="GetDetails(@option.Id_Assessment_question_ans,@item.Id_Assessment_question,@option.Right_Ans,@option.Score_Coins,@item.Id_Assessment,@item.Id_Game,@item.allow_attempt,@ViewBag.Id_User,@ViewBag.ID_ORGANIZATION, document.getElementById('timer').innerHTML)">
                            <label for="f-option" color: black;" style="display: contents; max-width: 100%; /* margin-bottom: 5px; / / padding-bottom: 9px; */ font-weight: 600;">@option.Answer_Description</label>
                            <br />
                            <br />
                        }


                    </div>
                    <br />
                    <div class="container" style="margin-top: 20px;width: 100%;margin-left:0%;">
                        <div class="controls">
                            @if (item.Previous_button == 1)
                            {
                                <button class="form_submit" name="prev" onclick="button2(); prvbtn(); " type="button" style="float: left; margin-bottom: 7%;">&#8249; BACK</button>
                            }


                            <button class="form_submit" name="next" onclick="button1(); nextbtn(); nextQuestion(); " type="button" style="float: right; margin-right: 10%; margin-bottom: 7%; ">NEXT &#8250;</button>
                            <button class="form_submit" name="Submit" onclick="Save();" type="button" style="float: right; margin-right: 10%; margin-bottom: 7%;">FINISH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/AppJavascript/QuestionAns.js"></script>
<script src="~/JavaScript/jquery.min.js"></script>

<script>
     //Question Counter

    var x = 1;

    document.getElementById('qcount').innerHTML = x + "/"+@Session["TotalQuestion"];

    function button1() {

        document.getElementById('qcount').innerHTML = ++x + "/"+@Session["TotalQuestion"];
    }

    function button2() {

        document.getElementById('qcount').innerHTML = --x + "/"+@Session["TotalQuestion"];
    }



    //Timer code
    document.getElementById('timer').innerHTML =
        00 + ":" +@Session["Time"];
    startTimer();



    $("button[name=Submit]").css("display", "none");
    var divs = $('.mydivs>div');
    var cur = 0;// currently shown div

    divs.hide().first().css("display", "block");
    $("button[name=prev]").css("display", "none");



    function startTimer() {

        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if (s == @Session["Time"]) { m = m - 1 }
        if (m < 0) {
            return
        }


        if (s == 00)
        {

            debugger;

            divs.eq(cur).css("display", "block");

            if (divs.last().is(':visible')) {
                $("button[name=prev]").css("display", "none");
                $("button[name=next]").css("display", "none");
                $("button[name=Submit]").css("display", "block");

            }
            if (divs.first().is(':visible')) {
                $("button[name=prev]").css("display", "none");
            }
            else {
                $("button[name=prev]").css("display", "block");
            }



        }


            document.getElementById('timer').innerHTML =
                m + ":" + s;
            console.log(m)
            setTimeout(startTimer,1000);

    }


    function nextQuestion() {
        document.getElementById('timer').innerHTML =
            00 + ":" + @Session["Time"];
        startTimer();
    }
    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) { sec = "0" + sec }; 
        if (sec < 0) { sec = "@Session["Time"]" };
        return sec;
    }

    function nextbtn() {

        divs.eq(cur).css("display", "none");

        cur = (cur + 1 < divs.length) ? cur + 1 : cur;

        divs.eq(cur).css("display", "block");
        // show next
        if (divs.last().is(':visible')) {
            $("button[name=prev]").css("display", "none");
            $("button[name=next]").css("display", "none");
            $("button[name=Submit]").css("display", "block");

        }
        if (divs.first().is(':visible')) {
            $("button[name=prev]").css("display", "none");
        }
        else {
            $("button[name=prev]").css("display", "block");
        }



    }

   
      

    function prvbtn() {

        $("button[name=Submit]").css("display", "none");
        divs.eq(cur).css("display", "none");
        cur = (cur > 0) ? cur - 1 : 0;
        divs.eq(cur).show(); // show previous
        if (cur == 0) {
            $("button[name=prev]").css("display", "none");
        }
        if (cur != 0) {
            $("button[name=next]").css("display", "block");
        }
        document.getElementById('timer').innerHTML =
            00+":" +00+"0";
    }


    $(document).ready(function () {
       if (@Session["TotalQuestion"]!= 0)
    {
           $('#timer').css('display', 'block')
    }
    });
   
</script>

